@article-text-size: 15px;
@aside-text-size : 9px;
@nav-link-size: 11px;
@article-and-aside-text-style: georgia,"times new roman",times, serif;
@muted-border-color: #ececec;;
@muted-small: gray;
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
  padding-top: 50px;
}
h1 {
    font-size: 25px;
}
p {
    font-size: 17px;
}
ul {
    list-style: none;
    
        li {
            font-size:11px;
            padding: 0px;
            margin: 0px;
            text-align: left;
            a {
                &.nav-link {
                    font-size: @nav-link-size;
                    font-weight: bold;
                    color: black !important;
                    text-decoration: none;
                }  
               &.menu-link {
                    font-size: @nav-link-size;
                    color: black !important;
                    text-decoration: none;
                } 
            }
        }
    
}
.preview-article-title-main {
    font-size: 1.5em;
}
.preview-article-title-sub {
    font-size: 0.9em;
}
.article-side-border {
    border-right: 1px solid @muted-border-color;
}
.article-details {
    padding: 20px;
}
.caption {
    margin: 10px;
    color: @muted-small;
    font-size: 0.8em;
}
.gray-bottom-border {
    border-bottom: 1px solid @muted-border-color;
}
.visible-bar {
    width: 10px;
    height: 2.5px;
    background-color: black;
    margin: 1.5px 0;
}
.muted {
    color: @muted-small;
    font-size: 9px;
}
.navbar-default {
    background-color:#FFFFFF;
}
.navbar-header img {
    margin: 5px auto;
}
@media( max-width: 768px) {
        .left-aside {
            width: 50%;
            margin: 10px 5px 10px 5px;
    }
    
}
.container-fluid {
    height: 100%;
}
main {
    height: 100%;
}
section {
    //background-color: beige;
    margin: 10px;
    text-align:  center;
}
article {
//  background-color: beige;
    font-family:@article-and-aside-text-style;
    font-size: @article-text-size;
    border-top: 0px;
    border-bottom: 0px;
}
aside {
    padding: 10px;
   // border:  0.5px solid @muted-border-color;
    font-size: @aside-text-size;
    font-family:@article-and-aside-text-style;
}
.dropdown-menu li a {
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.giant-footer a {
    text-decoration: none;
    color: black;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
}
