body {
    position: relative;
}
.navbar-default {
    background-color:#FFFFFF;
}
.navbar-header img {
    margin: 5px auto;
}
@media( max-width: 768px) {
        .navbar-header img {
            width: 50%;
            margin: 10px 5px 10px 5px;
    }
}
section {
    background-color: beige;
    text-align:  center;
}
aside {
    background-color: bisque;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    small {
        color: gray;
    }
}